body {
	background-color: #f5f5f5;
	font-family: "Inter", sans-serif;
}
.weather-app {
	background-color: rgb(216, 252, 242);
	max-width: 700px;
	max-height: 800px;
	margin: 50px auto;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
